<div class="me-page glassmorph-container fade-in">
  <h1 style="display:flex;gap:10px;">Hello, 
    @if (editModeEnabled()) {
      <input [ngModel]="name()" (ngModelChange)="name.set($event)">
    } @else {
      {{ name() }}
    }
    <button (click)="toggleEditMode()" aria-details="Edit">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
      </svg>
    </button>

    <button (click)="savePreferencesToFile()" title="Save your preferences to disk">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
        <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
      </svg>
    </button>

    <button (click)="loadPreferencesFromFile()" title="Load your preferences from disk">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
      </svg>
    </button>
  </h1>

  <!-- playlist[0] - playlist title, playlist[1] - songs -->
  <h2>Your playlists:</h2>
  <div class="songs-grid">
    @for (playlist of savedPlaylists(); track playlist) {
      <app-playlist-container
        [playlist]="playlist[1]"
      />
    } @empty {
      <p>Nothing to show for now.</p>
    }
  </div>

  <h2>Favorite songs:</h2>
  <div class="songs-grid">
    @for (song of favoritedSongs(); track $index) {
      <app-song-container
        [song]="song"
      />
    } @empty {
      <p>Nothing to show for now.</p>
    }
  </div>

  <h2>Favorite albums:</h2>
  <div class="songs-grid">
    @for (album of favoritedAlbums(); track $index) {
      <app-album-container
        [album]="album"
      />
    } @empty {
      <p>Nothing to show for now.</p>
    }
  </div>

  <h2>Favorite artists:</h2>
  @for (artist of favoritedArtists(); track $index) {
    <app-text-pill
      (click)="navigateToArtist(artist)"
      [text]="artist"
      [removable]="true"
      (remove)="removeArtistFromFavorites(artist)"
    />
  } @empty {
    <p>Nothing to show for now.</p>
  }
</div>