.song-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 150px;
  max-height: 250px;
  overflow: hidden;
  padding: 10px;
  font-size: .8rem;
  text-overflow: ellipsis;
}

img {
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  min-height: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.song-container:hover {
  background-color: rgb(55, 55, 55);
}

.artist-link{
  cursor: pointer;
}

.artist-link:hover {
  text-decoration: underline;
}

h2, p, sub {
  color: white;
}