.song-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 200px;
  padding: 5%;
}

img {
  max-width: 100%;
  min-width: 200px;
  min-height: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}