.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 200px;
  padding: 1%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}