<div class="playlist-container" (click)="navigateToPlaylist()" [title]="playlist.title">
  <div class="image-wrapper">
    <img [src]="playlist.songs[0].albumArt || './blank.png'" loading="lazy" alt="First song" />
    @if (playlist.songs[1]) {
      <img [src]="playlist.songs[1].albumArt || './blank.png'" loading="lazy" alt="Second song"
        style="transform: translateY(-150px);"
      />
    }
    @if (playlist.songs[2]) {
      <img [src]="playlist.songs[2].albumArt || './blank.png'" loading="lazy" alt="Third song"
        style="transform: translateY(-300px);"
      />
    }
  </div>

  <div class="info-wrapper">
    <h2>{{ playlist.title }}</h2>
  </div>

  <div class="actions-area">
    <button class="action-btn" (click)="toggleMenu($event)" title="More options">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </svg>
    </button>
  </div>

  @if (isMenuOpen()) {
    <div class="context-menu solid">

    @if (isRemovingPlaylist()) {
      <p>You sure?</p>
      <button (click)="toggleRemovingPlaylist($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
      <button (click)="removePlaylist($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
        </svg>
      </button>
    } @else {
      <button (click)="toggleRemovingPlaylist($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>
        Can it
      </button>
    }
    
    </div>
  }
</div>