/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

h1, h2, p, input, sub, span, small {
  font-family: "Helvetica Neue", sans-serif;
  text-overflow: ellipsis;
}

button {
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  padding: 1%;
}

button svg {
  min-width: 15px;
  min-height: 15px;
}

button:hover {
  color: #00FF00;
}

body {
  background: rgb(48, 48, 48);
  /* background: linear-gradient(0deg, rgba(0, 255, 0, 1) 0%, rgba(17, 108, 17, 1) 10%, rgba(26, 26, 26, 1) 24%, rgba(48, 48, 48, 1) 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.container {
  border-radius: 10px;
  border: solid;
  border-color: lime;
}

input {
  background-color: transparent;
  border: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 1px;
  color: white;
  padding: 5px;
}

.glassmorph-container {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.solid {
  background-color: rgb(48, 48, 48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Animations, keyframes and stuff... */
.fade-in {
  opacity: 0;
  animation: fade-in .5s ease-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideDown .25s ease-out forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-200px);
  } to {
    transform: translateY(0);
  }
}

.slide-out {
  animation: slideUp .25s ease-out forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 0;
  } to {
    transform: translateY(-200px);
    opacity: 1;
  }
}