<div class="listing">
  
  <div class="header">
    <h1>Library</h1>
    <input 
      type="text" 
      class="search-bar" 
      placeholder="Search for songs..." 
      [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event); onSearchChange()"
    >
  </div>

  <div class="song-grid">
    @if (songs().length === 0) {
      <div class="empty-state">
        <p>No songs found.</p>
      </div>
    }

    @for (song of songs(); track song) {
      <app-song-container
        class="clickable-card"
        (click)="play(song)"
        [song]="song"
        [title]="song.title"
        [artist]="song.artist"
        [year]="song.year"
        [album]="song.album"
        [albumArt]="song.albumArt"  ></app-song-container>
    }
  </div>

</div>